{
  "$schema": "node_modules/wrangler/config-schema.json",
  "name": "nekonymous",
  "main": "src/index.ts",
  "compatibility_date": "2025-04-03",
  "durable_objects": {
    "bindings": [
      {
        "name": "INBOX_DO",
        "class_name": "InboxSqliteDurableObject"
      }
    ]
  },
  "migrations": [
    {
      "tag": "v1",
      "new_sqlite_classes": ["InboxSqliteDurableObject"]
    }
  ],
  "kv_namespaces": [
    {
      "binding": "NekonymousKV",
      "id": "YOUR_KV_NAMESPACE_ID"
    }
  ]
}
